extends ../layouts/application.pug

block header
  = t('layouts.application.statusEdit')

block content
  +formFor()(action=`/statuses/${status.id}` method='post')
    +input(status, 'name', errors)(type="text")
    input(type="hidden" name="_method" value="PATCH")
    +submit(status)(value=t('views.statuses.update'))