extends ../layouts/application.pug

block header
  h1.display-4.fw-bold.mt-4= t('layouts.application.updateTask')

block content
  +formFor()(action=`/tasks/${task.id}` method='post')
    +input(task, 'name', errors, value =t('views.tasks.name'))(type="text", value = task.name)
    +textarea(task, 'description', errors, value =t('views.tasks.description'))(type="text", value = task.description)
    +select(task, 'statusId', value =t('views.tasks.status'), errors, statuses)
    +select(task, 'executorId', value =t('views.tasks.executor'), errors, users)
    +select(task, 'labels', value =t('views.tasks.label'), errors, labels, true, selectedLabel)
    input(type="hidden" name="_method" value="PATCH")
    +submit(user)(value=t('views.tasks.update'))