extends ../layouts/application.pug

block header
  h1.display-4.fw-bold= t('layouts.application.createTask')

block content
  +formFor()(action=route('tasks') method='post')
    +input(task, 'name', errors)(type="text")
    +input(task, 'description', errors)(type="text")
    +input(task, 'statusId', errors)
    +input(task, 'executorId', errors)
    +input(task, 'labels', errors)
    +submit(task)(value=t('views.tasks.new.create'))