extends ../layouts/application.pug

block header
  h1.display-4.fw-bold= t('layouts.application.createTask')

block content
  +formFor()(action=route('tasks') method='post')
    +input(task, 'name', errors, value =t('views.tasks.name'))(type="text")
    +textarea(task, 'description', errors, value =t('views.tasks.description'))
    +select(task, 'statusId', value =t('views.tasks.status'), errors, statuses)
    +select(task, 'executorId', value =t('views.tasks.executor'), errors, users)
    +select(task, 'labels', value =t('views.tasks.label'), errors, labels, true)
    +submit(task)(value=t('views.tasks.new.create'))