extends ../layouts/application.pug

block header
  h1.display-4.fw-bold= t('layouts.application.createTask')

block content
  +formFor()(action=route('tasks') method='post')
    +input(task, 'name', errors, value =t('views.tasks.name'))(type="text")
    +textarea(task, 'description', errors)
    +select(task, 'statusId', errors, statuses)
    +select(task, 'executorId', errors, users)
    +select(task, 'label', errors, labels)(multiple)
    +submit(task)(value=t('views.tasks.new.create'))